.navigation-wrapper {
  display: flex;
  margin-bottom: 32px;
}

.navigation-item {
  position: relative;
  font-weight: bold;
  cursor: pointer;
  color: #888888;
  text-decoration: none;
}
.navigation-item:hover {
  color: #000000;
}

.navigation-item:not(:last-of-type) {
  margin-right: 25px;
}

.navigation-item-active {
  color: #000000;
}

.navigation-item-active::before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #EA3368;
}