.coloring-section-back {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 20px;
  margin-top: 22px;
  cursor: pointer;
}

.coloring-section-back > svg {
  margin-right: 20px;
}

.coloring-section-back:hover {
  text-decoration: underline;
}

.coloring-section-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.coloring-section-actions-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.coloring-section-action {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid #F4F4F4;
  color: #888888;
}

.coloring-section-colors-list {
  display: flex;
  justify-content: space-between;
}

.coloring-section-action-access {
  color: #888888;
}

.coloring-section-action-access-btn {
  color: #EA3368;
  text-decoration: underline;
  cursor: pointer;
}

.coloring-section-action-access-btn:hover {
  color: #CE284F;
}

.coloring-section-action-access-btn:active {
  color: #AC1D3F;
}

.coloring-section-footer-text {
  margin-bottom: 22px;
  color: #888888;
}

.coloring-section-footer-action {
  width: 100%;
  text-align: right;
}