.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.app-request-error-message {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 200ms ease-out;
  height: 20px;
}

.app-request-error-message[data-visible="true"] {
  opacity: 1;
}

.app-palette-color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  list-style: none;
}

.app-palette-color {
  position: relative;
  width: calc(33% - 10px);
  height: 60px;
  margin-bottom: 30px;
  border: 1px solid black;
  cursor: pointer;
}

.app-palette-color:not(:last-of-type) {
  margin-right: 9px;
}

.app-palette-color:hover::after {
  content: attr(data-color);
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
}

.app-palette-color[data-selected="true"] {
  border: 2px solid black;
}

.app-input {
  height: 35px;
  width: 100%;
  font-size: 16px;
}